<button>
  <span class="spark"></span>
  <span class="backdrop"></span>
  <span class="galaxy__container">
      <span class="star star--static"></span>
      <span class="star star--static"></span>
      <span class="star star--static"></span>
      <span class="star star--static"></span>
    </span>
  <span class="galaxy">
      <span class="galaxy__ring">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
      </span>
    </span>
  <span class="text">
      <slot>Explore!</slot>
    </span>
</button>
<div class="bodydrop"></div>
