*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: hsl(
    var(--hue, 245)
    calc(var(--active) * 97%, 0)
    6%
  );
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  transition: background var(--transition);
  overflow: hidden;
}
